# Ignore all test files and test artifacts
/tests/
!/tests/.gitkeep
scripts/
!/scripts/.gitkeep
chroma-data/
.pytest_cache
remove-prune.sh
*.pdf
*__pycache__
ingestor/http:*
*.pyc
*.pyo
.env
.gitignore
compose.sh
iam_oidc.sh


